<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <div class="headerSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-6 greetingText">
          <h4>
            Welcome to Simpl
          </h4>
          <p> 2 active accounts </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-12 carausalImgs">
          <ngb-carousel showNavigationArrows="true" interval="2000" pauseOnHover="false">

            <ng-template ngbSlide>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Simpl</h4>
                  <div class="row">
                    <div class="col-sm-6">
                      <p>Spent till now</p><br/>
                      <b> &#8377; 18000</b>
                    </div>
                    <div class="col-sm-6">
                      <p>Due Date</p><br/>
                      <b> 30 Aug</b>
                    </div>
                  </div>
                  <a href="#" class="card-link"><button type="button" class="btn btn-info btn-lg btn-block">Pay &#8377; 1500</button></a>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">PayLater</h4>
                  <div class="row">
                    <div class="col-sm-6">
                      <p>Spent this month</p><br/>
                      <b> &#8377; 1150</b>
                    </div>
                    <div class="col-sm-6">
                      <p>Due Date</p><br/>
                      <b> 12 Aug</b>
                    </div>
                  </div>
                  <a href="#" class="card-link"><button type="button" class="btn btn-info btn-lg btn-block">Pay &#8377; 1500</button></a>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="card shadow-lg p-1 mb-2 bg-white rounded">
                <div class="card-body">
                  <h4 class="card-title">PrePaid</h4>
                  <div class="row">
                    <div class="col-sm-6">
                      <p>Spent till now</p><br/>
                      <b> &#8377; 18000</b>
                    </div>
                    <div class="col-sm-6">
                      <p>Due Date</p><br/>
                      <b> 15 Aug</b>
                    </div>
                  </div>
                  <a href="#" class="card-link"><button type="button" class="btn btn-info btn-lg btn-block">Pay &#8377; 1500</button></a>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>

      </div>
    </div>
  </div>
  <!--body section one -->
  <div class="sectionContent">
    <div class="container">
      <div class="sectionOne">
        <p>Recharge and pay bills</p>
        <hr>
        <div class="flex-container">
          <div>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <p>Prepaid</p>
          </div>
          <div>
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            <p>Electricity</p>
          </div>
          <div>
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <p>Broadband</p>
          </div>
          <div>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <p> DTH </p>
          </div>
          <div>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <p> Gas </p>
          </div>
          <div>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <p>Landline</p>
          </div>
          <div>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <p>Water</p>
          </div>
          <div>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <p>Datacard</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sectionContent">
    <div class="container">
      <div class="sectionTwo">
        <p>You can also use simpl on</p>

      </div>
    </div>
  </div>
  <div class="sectionContent">
    <div class="container">
      <div class="sectionThree">
        <p>Recent Transactions</p>
        <hr>
        <div class="row">
          <div class="col-sm-11 col-lg-11">
           <span><i class="fa fa-mobile" aria-hidden="true"></i></span>
            <b>Zomato</b> <br>
            <b>May 14</b> <span>, 06:12 pm | Simpl pay later</span>

          </div>
          <div class="col-sm-1 col-lg-1" style="margin-top:auto;">
            &#8377; 250
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-11 col-lg-11">
            <span><i class="fa fa-mobile" aria-hidden="true"></i></span>
            <b>Zomato</b> <br>
            <b>May 14</b> <span>, 06:12 pm | Simpl pay later</span>

          </div>
          <div class="col-sm-1 col-lg-1" style="margin-top:auto;">
            &#8377; 250
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-11 col-lg-11">
            <span><i class="fa fa-mobile" aria-hidden="true"></i></span>

            <b>Zomato</b> <br>
            <b>May 14</b> <span>, 06:12 pm | Simpl pay later</span>

          </div>
          <div class="col-sm-1 col-lg-1" style="margin-top:auto;">
            &#8377; 250
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="" async defer></script>
</body>

</html>
